/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

*{
  font-family: 'Arial';
}
/* Layout */

/* Header */
#top-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;

}
.siteName{
  grid-row: 1/3;
  grid-column: 1/3;
  font-size: 30px;
}

#acct-btn{
  grid-column: 4/5;
  text-align: right;
}

.siteName a{
  font-weight: bold;
}

.siteName a, #acct-btn a{
  text-decoration: none;
  color: #365486;
}

/* Navigation */
nav{
  background-color: #365486;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  padding: 0.75rem;
}

nav ul li {
  display: block;
  color: white;
  padding: .5rem 0;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
}



/* Body */
#homeTitle{
  font-size: 1.5rem;
}

section.hero{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

section.hero div.hero-image{
  grid-column: 1/4;
  grid-row: 1/5;
}

section.hero div.hero-image picture.heroImage img{
  width: 100%;
}

#hero-content-wrapper{
  background-color: #dcf2f1b5;
  grid-column: 1/2;
  grid-row: 1/3;
  width: fit-content;
}

div.hero-btn{
  margin: auto;
  font-size: 1.5rem;
}

div.hero-btn button{
  background: #365486;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 4vw;
  padding: 10px;
}

div.hero-header h2, div.hero-header p{
  margin: 0;
  padding: 2px;
}

div.upgrades-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 10px;
}

div.first-content ul{
  padding-left: 20px;
}

.u{
  width: 100%;
  text-align: center;
}

.upgradeImg{
  background-color: #dcf2f1;
  padding: 10px;
  border: 1px solid #365486;
}

#upgradeOneContent div.upgradeImg, #upgradeThreeContent div.upgradeImg{
  padding-top: 28px;
} 

#upgradeFourContent div.upgradeImg{
  padding-top: 24px;
}


/* Footer */