<% if (title) { %>
    <h1 id="error-message-header"><%= title %></h1>
    <img class="error-img" src="https://media.istockphoto.com/id/1271779268/photo/calling-roadside-assistance.jpg?s=1024x1024&w=is&k=20&c=m0frjHj9dtYTISlfdPOUhiNfaKRd2Gl4Uyk6CrgXKD4=" alt="car broke down image">
    <% } else {
      res.redirect('/')
    } %>
<h2 id="error-message"><%- message %></h2>
