<% if (title) { %>
    <h1><%= title %></h1>
    <img src="https://media.istockphoto.com/id/1271779268/photo/calling-roadside-assistance.jpg?s=1024x1024&w=is&k=20&c=m0frjHj9dtYTISlfdPOUhiNfaKRd2Gl4Uyk6CrgXKD4=">
    <% } else {
      res.redirect('/')
    } %>

<%- message %>